<!DOCTYPE html>
<html lang="en">
<head>
 	<meta charset="UTF-8">
 	<meta name="viewport" content="width=device-width, minimum-scale=1.0, user-scalable=0">

	<title>Wuff Wuff</title>

	<link rel="stylesheet" href="assets/css/main.css">
	
    {% if debug %}<script src="//localhost:35729/livereload.js"></script>{% endif %}
</head>
<body class="{{page}}">