<header role="banner" id="top" class="header">
	<div class="container">
		<div class="header__content layout mv">
      <div class="layout__item 1/3">
        <a href="/" class="header__brand">
          <img src="assets/img/logo-full.svg" alt="Wild Dog Design logo" class="palm--hidden">
          <img src="assets/img/logo-compact.svg" alt="Wild Dog Design logo" class="lap-and-up--hidden">
        </a>
      </div>
      <div class="header__utils layout__item 2/3 pv">
        <div class="layout__item 1/3 float--right">
          <a href="mailto:ruff@wilddogdesign.co.uk"><i class="icon icon--email" aria-hidden="true"></i><span class="text">email: </span>ruff@wilddogdesign.co.uk</a>
        </div>
        <div class="layout__item 1/3 float--right">
          <a href="tel:+441273278766"><i class="icon icon--phone" aria-hidden="true"></i><span class="text">call: </span>+44&nbsp;(0)1273&nbsp;278&nbsp;766</a>
        </div>
      </div>
    </div>
	</div>

  <div class="header-navs">
    <a href="#menu" class="header-navs__control  js-trigger-menu"><div class="filler"></div></a>
    <div class="header-navs__body">
      <div class="container">
        <nav class="primary-nav">
          <ul class="primary-nav__items list-bare">
            <li class="primary-nav__item{% if page == 'portfolio' %} primary-nav__item--active{% endif %}"><a href="portfolio.html" class="primary-nav__link">work</a></li>
            <li class="primary-nav__item{% if page == 'sector' %} primary-nav__item--active{% endif %}"><a href="sector.html" class="primary-nav__link">sector</a></li>
            <li class="primary-nav__item{% if page == 'why-us' %} primary-nav__item--active{% endif %}"><a href="why-us.html" class="primary-nav__link">why us</a></li>
            <li class="primary-nav__item{% if page == 'contact' %} primary-nav__item--active{% endif %}"><a href="contact.html" class="primary-nav__link">contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>