<!DOCTYPE html>
  <!--[if lt IE 7]>
    <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en">
  <![endif]-->
  <!--[if IE 7]>
    <html class="no-js lt-ie10 lt-ie9 lt-ie8 is-ie7" lang="en">
  <![endif]-->
  <!--[if IE 8]>
    <html class="no-js lt-ie10 lt-ie9 is-ie8" lang="en">
  <![endif]-->
  <!--[if IE 9]>
    <html class="no-js lt-ie10 is-ie9" lang="en">
  <![endif]-->
  <!--[if gt IE 8]><!-->
    <html class="no-js" lang="en">
  <!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <title>{% if titleattr %}{{ titleattr }} | {% endif %}MRT</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" id="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Wild Dog Design">


    <!-- build:css(.) assets/css/libs.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../../../bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) assets/css/main.css -->
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- endbuild -->

    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <!--[if lte IE 9]>
      <script src="assets/js/respond{% if MINIFIED == 'TRUE' %}.min{% endif %}.js"></script>
    <![endif]-->

    <!--[if lte IE 8]>
      <link rel="icon" type="image/x-icon" href="favicon.ico">
    <![endif]-->

    <!-- build:js assets/js/libs/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body class="{{ bodyclass }}">
    <header class="clearfix">
      <section class="panel">
        <div class="container container-fluid">
          <ul class="skip-links">
            <li class="nav-trigger">
              <a href="#navigations" class="closed icon-fallback-text">
                <span class="icon icon-menu-control" aria-hidden="true"></span>
                <span class="text">site navigation</span>
              </a>
            </li>
          </ul>
          <div id="navigations" class="drop-menus clearfix">
            <nav id="main-nav" class="nav row clearfix">
              <div class="menus clearfix">
                <ul class="main clearfix">
                  <li>
                    <a class="trigger" href="/">Home</a>
                  </li>
                  <li>
                    <a class="trigger{% if bodyclass == 'pg-about' %} active{% endif %}" href="contact{{ FILE_EXT }}">About us</a>
                  </li>
                  <li>
                    <a class="trigger{% if bodyclass == 'pg-contact' %} active{% endif %}" href="contact{{ FILE_EXT }}">Contact us</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </section>
    </header>