// sass-lint:disable no-vendor-prefixes
html,
body {
  min-width: rem(320px);
  margin: 0;
  color: $color--text;
  font-family: $font--main;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
