///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Standardise some UI treatments.
$global-radius: 3px !default;
$global-transition: (1 / 3) + s !default;

$inuit-wrapper-width: 1200px !default;

$mq-breakpoints: (
  mobile:         375px,
  landscape:      480px,
  tablet:         768px,
  tablet-wide:    1024px,
  desktop:        1280px,
  wide:           1366px,
  really-wide:    1680px,
  huge:           1920px,
);
