    .primary-nav {
      @include media-query(palm) {
        .primary-nav-active & {
          display: block;
        }
      }
    }

      .primary-nav__items {
        @extend %pack;
        @include media-query(palm) {
          display: block;
          margin-top: 12px;
          margin-bottom: 24px;
        }
      }

        .primary-nav__item {
          @extend %pack__item;
          text-align: center;
          height: 40px;

          @include media-query(palm) {
            display: block;
            margin-bottom: 0;
          }
        }

          .primary-nav__link {
            display: block;
            color: $color--black;
            line-height: 40px;
            &:hover,
            &:focus {
              color: $color--brand;
            }

            @include media-query(palm) {
              text-align: left;
              padding-left: 8px;
            }

            .primary-nav__item--active & {
              background-color: $color--white;
              color: $color--brand;
            }
          }