{% set page = "index" %}
{% extends 'includes/_base.njk' %}

{% block main %}
<div class="o-wrapper">
  <h1>Examples</h1>
  <h2>Common Functionality & Components</h2>

  <section id="triggers">
    <h3>Triggers</h3>

    <style>
      .trigger-example {
        display: none;
        padding: 1rem;
      }

      .trigger-example.is-visible {
        display: block;
      }
    </style>

    <button
      class="js-class-trigger"
      data-target="#trigger-example"
      data-class-to-trigger="is-visible"
    >
      Show/Hide
    </button>

    <nav id="trigger-example" class="trigger-example" aria-hidden="true">
      <a href="#">Link 1</a>
      <a href="#">Link 1</a>
      <a href="#">Link 1</a>
    </nav>
  </section>

  <br/>

  <hr/>

  <section id="dialogs">
    <h3>Dialogs</h3>

    <button type="button" class="o-btn" data-a11y-dialog-show="a11y-example-dialog">Show Dialog</button>

    <div id="a11y-example-dialog" class="c-dialog js-dialog" role="dialog" aria-hidden="true">
      <div class="c-dialog__overlay" tabindex="-1" data-a11y-dialog-hide></div>

      <div class="c-dialog__container" role="dialog" aria-labelledby="dialog-title">
        <button data-a11y-dialog-hide class="c-dialog__close">Close</button>

        <div class="c-dialog__content">
          <h4>Example Dialog</h4>

          <p>This is an example dialog component</p>
        </div>
      </div>
    </div>
  </section>

  <br/>

  <hr/>

  <section id="recaptcha">
    <h3>Recaptcha</h3>

    <form class="js-recaptcha">
      <h4>Form 1</h4>

      <p>Setup using `.js-recaptcha` css class on form, requires the recaptcha site key to be assigned to `window.recaptchaKey` in head</p>

      <div>
        <label>Name</label>
        <input name="form" value="one">
      </div>

      <div>
        <button type="submit">Submit</button>
      </div>
    </form>

    {% set recaptcha_key = '6LcqPbgUAAAAADzSyygzDiduNftUvKuw5NMCla_a' %}

    <form>
      <h4>Form 2</h4>

      <p>
        Setup using `.g-recaptcha` css class on a div element in form.
        <a href="https://developers.google.com/recaptcha/docs/invisible#programmatic_execute">
          https://developers.google.com/recaptcha/docs/invisible#programmatic_execute
        </a>
      </p>


      <div>
        <label>Name</label>
        <input name="form" value="two">
      </div>

      <div>
        <button type="submit">Submit</button>
      </div>

      <div
          class="g-recaptcha"
          data-sitekey="{{ recaptcha_key }}"
          data-size="invisible"
      ></div>
    </form>
  </section>

  <br/>
</div>
{% endblock %}
