{% set page = "examples" %}
{% extends 'includes/_base.njk' %}

{% block main %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/themes/prism-okaidia.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/toolbar/prism-toolbar.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/line-numbers/prism-line-numbers.min.css" />

<style>
section {
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  border-bottom: 2px solid #ccc;
}
pre[class*=language-] {
  margin: 2rem 0;
}
</style>

<div class="o-wrapper">
  <h1>Examples</h1>

  <br/>

  <section id="basic-styles">
    <h2>Basic styles</h2>

    <h4>Page</h4>

    <p>HTML and body have the color <code class="language-sass">$color--text</code> variable applied to it by default</p>

    <h4>Links</h4>
    <p>Links are <a href="#">coloured the primary colour</a> and have <a href="#">no text decoration</a> by default.</p>

    <h4>Buttons</h4>
    <p>
      Buttons are now in here by default with some appropriate font sizing / spacing etc. By default there is o-btn with a hover/focus style and a disabled style.
    </p>

    <a href="#" class="o-btn">Check out this thing</a>

    <script type="text/plain" class="language-markup">
    <a href="#" class="o-btn">Check out this thing</a>
    </script>

    <button class="o-btn" disabled>Disabled Button</button>

    <script type="text/plain" class="language-markup">
    <button class="o-btn" disabled>Disabled Button</button>
    </script>

    <h4>Forms</h4>

    <p>
      Lots of default styling has been added for most input types and for selects, submits, buttons and checkboxes / radios. See snippets.md for the markup for a radio / checkbox. Elements are again 100% width as they'd usually be in a container. They are only defined as [type="text"] not input[type="text"] because they become hard to override with classes with the latter specificity.
    </p>

    <style>
      .cant-flex-on-fieldset {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
      }

      .u-form-input {
        flex-basis: 49%;
      }

      .u-wide {
        width: 100%;
      }
    </style>

    <form>
      <fieldset>
        <div class="cant-flex-on-fieldset">
          <div class="u-form-input">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="Lando Calrissian" />
          </div>

          <div class="u-form-input">
            <label for="profession">Profession</label>
            <select name="profession" id="profession">
              <option>Please select...</option>
              <option>Cloud City Administrator</option>
              <option>Rebel Alliance General</option>
              <option>Professional Gambler</option>
            </select>
          </div>

          <div class="u-wide">
            <label for="reason">Reason for joining Rebel Alliance</label>
            <textarea name="reason" id="reason" placeholder="e.g. A deal was altered and I had to pray it wasn't altered further."></textarea>
          </div>

          <div>
            <label for="check">
              <input type="checkbox" id="check">
              <span>Check here to consent to becoming a known enemy of the Galactic Empire.</span>
            </label>
          </div>
        </div>
      </fieldset>

      <input type="submit" class="o-btn" value="Submit" />
    </form>

    <script type="text/plain" class="language-markup">
    <form>
      <fieldset>
        <div class="cant-flex-on-fieldset">
          <div class="u-form-input">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="Lando Calrissian" />
          </div>

          <div class="u-form-input">
            <label for="profession">Profession</label>
            <select name="profession" id="profession">
              <option>Please select...</option>
              <option>Cloud City Administrator</option>
              <option>Rebel Alliance General</option>
              <option>Professional Gambler</option>
            </select>
          </div>

          <div class="u-wide">
            <label for="reason">Reason for joining Rebel Alliance</label>
            <textarea name="reason" id="reason" placeholder="e.g. A deal was altered and I had to pray it wasn't altered further."></textarea>
          </div>

          <div>
            <label for="check">
              <input type="checkbox" id="check">
              <span>Check here to consent to becoming a known enemy of the Galactic Empire.</span>
            </label>
          </div>
        </div>
      </fieldset>

      <input type="submit" class="o-btn" value="Submit" />
    </form>
    </script>

    <h4>Images</h4>

    <p>
      Block and 100% width by default as usually they'll be in a container or have their own class with a max-width.
    </p>

    <img src="/assets/images/logo.svg" />

    <script type="text/plain" class="language-markup">
    <img src="/assets/images/logo.svg" />
    </script>
  </section>

  <section id="triggers">
    <h2>Triggers</h2>

    <style>
      .trigger-example {
        display: none;
        padding: 1rem;
      }

      .trigger-example.is-visible {
        display: block;
      }
    </style>

    <button
      class="js-class-trigger"
      data-target="#trigger-example"
      data-class-to-trigger="is-visible"
      data-media="800px"
      data-max-media="900px"
    >
      Show/Hide
    </button>

    <nav id="trigger-example" class="trigger-example js-class-trigger-target" aria-hidden="true">
      <a href="#">Link 1</a>
      <a href="#">Link 1</a>
      <a href="#">Link 1</a>
    </nav>

    <script type="text/plain" class="language-markup">
    <button
      class="js-class-trigger"
      data-target="#trigger-example"
      data-class-to-trigger="is-visible"
      data-media="800px"
      data-max-media="900px"
    >
      Show/Hide
    </button>

    <nav id="trigger-example" class="trigger-example" aria-hidden="true">
      <a href="#">Link 1</a>
      <a href="#">Link 1</a>
      <a href="#">Link 1</a>
    </nav>
    </script>

    <p>Write your scss</p>

    <pre class="language-scss">
      <code>
        .trigger-example {
          display: none;
          padding: 1rem;

          &.is-visible {
            display: block;
          }
        }
      </code>
    </pre>

    <p>Ensure the our triggers js module is included in <code>src/js/main.js</code> and initialised</p>

    <pre class="language-js">
      <code>
        ...
        
        import { setupTriggers } from './modules/triggers';
        

        function initialise() {
          ... 
          
          setupTriggers();
        }
      </code>
    </pre>
  </section>

  <section id="dialogs">
    <h2>Dialogs</h2>

    <button type="button" class="o-btn" data-a11y-dialog-show="a11y-example-dialog">Show Dialog</button>

    <div id="a11y-example-dialog" class="c-dialog js-dialog" role="dialog" aria-hidden="true">
      <div class="c-dialog__overlay" tabindex="-1" data-a11y-dialog-hide></div>

      <div class="c-dialog__container" role="dialog" aria-labelledby="dialog-title">
        <button data-a11y-dialog-hide class="c-dialog__close">Close</button>

        <div class="c-dialog__content">
          <h4>Example Dialog</h4>

          <p>This is an example dialog component</p>
        </div>
      </div>
    </div>
  </section>

  <section id="recaptcha">
    <h2>Recaptcha</h2>

    <a target="_blank" href="https://developers.google.com/recaptcha/docs/invisible">
      developers.google.com/recaptcha/docs/invisible
    </a>

    <h5>Setup</h5>

    <p>
      Go to <a target="_blank" href="https://www.google.com/recaptcha/admin">google.com/recaptcha/admin</a> and create a new recaptcha key.
    </p>

    <p>
      As well as the live domain, make sure to include the following domains when setting up.

      <ul>
        <li>localhost</li>
        <li>docker.test</li>
        <li>REPLACE_ME_WITH_PROJECT_NAME.wilddogdevelopment.com</li>
      </ul>
    </p>

    <p>
      Once done, ensure that the google recaptcha script is included at the bottom of the <code class="language-markup">&lt;head></code> element in <code>src/templates/includes/_head.njk</code> and set the value of <code class="language-js">window.recaptchaKey</code> with the 'Site Key' from the recaptcha you just created.
    </p>

    <pre class="language-markup"><code><!--
    <head>
      ...

      <script src='https://www.google.com/recaptcha/api.js' async defer/></script>

      <script>
        window.recaptchaKey = '6LcqPbgUAAAAADzSyygzDiduNftUvKuw5NMCla_a'
      </script>
    </head>
    --></code></pre>

    <p>
      Now make sure that our recaptcha.js module is included in <code>src/js/main.js</code> and initialised.
    </p>

    <pre>
      <code class="language-js">
        ...
        
        import { setupRecaptcha } from './modules/recaptcha';
        

        function initialise() {
          ... 
          
          setupRecaptcha();
        }
      </code>
    </pre>

    <p>We are now ready to use recaptcha on our forms.</p>


    <h5>Using <code class="language-markup">js-recaptcha</code> css class on the form element.</h5>

    <form class="js-recaptcha">
      <label>Name</label>

      <input type="text" name="form" value="one">

      <button type="submit" class="o-btn">Submit</button>
    </form>
    
    <script type="text/plain" class="language-markup">
    <form class="js-recaptcha">
      <label>Name</label>

      <input type="text" name="form" value="one">

      <button type="submit" class="o-btn">Submit</button>
    </form>
    </script>

    {# <h5>Using <code class="language-markup">g-recaptcha</code> css class on a div element in the form.</h5>

    <p>
      <a target="_blank" href="https://developers.google.com/recaptcha/docs/invisible#programmatic_execute">
        developers.google.com/recaptcha/docs/invisible#programmatic_execute
      </a>
    </p>

    <form>
      <label>Name</label>

      <input type="text" name="form" value="two">

      <button type="submit" class="o-btn">Submit</button>

      <div
          class="g-recaptcha"
          data-sitekey="6LcqPbgUAAAAADzSyygzDiduNftUvKuw5NMCla_a"
          data-size="invisible"
      ></div>
    </form>

    <script type="text/plain" class="language-markup">
    <form>
      <label>Name</label>

      <input type="text" name="form" value="one">

      <button type="submit" class="o-btn">Submit</button>

      <div
          class="g-recaptcha"
          data-sitekey="6LcqPbgUAAAAADzSyygzDiduNftUvKuw5NMCla_a"
          data-size="invisible"
      ></div>
    </form>
    </script>

    <h5>Using <code class="language-markup">g-recaptcha</code> css class on a div element in the form with custom callback method.</h5>

    <form id="customForm">
      <label>Name</label>

      <input type="text" name="form" value="three">

      <button type="submit" class="o-btn">Submit</button>

      <div
          class="g-recaptcha"
          data-sitekey="6LcqPbgUAAAAADzSyygzDiduNftUvKuw5NMCla_a"
          data-size="invisible"
          data-callback="customCallback"
      ></div>

      <script>
        window.customCallback = function() {
          // custom code here
          document.getElementById('customForm').submit();
        }
      </script>
    </form>

    <pre class="language-markup"><code><!--
    <form id="customForm">
      <label>Name</label>

      <input type="text" name="form" value="three">

      <button type="submit" class="o-btn">Submit</button>

      <div
          class="g-recaptcha"
          data-sitekey="6LcqPbgUAAAAADzSyygzDiduNftUvKuw5NMCla_a"
          data-size="invisible"
          data-callback="customCallback"
      ></div>

      <script>
        window.customCallback = function() {
          // custom code here
          document.getElementById('customForm').submit();
        }
      </script>
    </form>
    --></code></pre> #}
  </section>

  <section id="scroll-to">
    <h2>Scroll to</h2>

    <p><a href="#thing-to-scroll-to" class="js-scroll-to" data-offset="-100" data-align="top" data-ease="out-circ" data-duration="1000">Click me to scroll</a></p>

    <p>Cras mattis consectetur purus sit amet fermentum. Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec id elit non mi porta gravida at eget metus.</p>

    <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>

    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo.</p>

    <p>Cras mattis consectetur purus sit amet fermentum. Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec id elit non mi porta gravida at eget metus.</p>

    <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>

    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo.</p>

    <p id="thing-to-scroll-to"><strong>Scroll to me</strong></p>
  </section>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>

{# Prism JS Code Highlter - https://prismjs.com #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/prism.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/unescaped-markup/prism-unescaped-markup.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/components/prism-scss.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/normalize-whitespace/prism-normalize-whitespace.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/line-numbers/prism-line-numbers.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/toolbar/prism-toolbar.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/show-language/prism-show-language.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>

{% endblock %}


