{% set page = "index" %}
{% extends 'includes/_base.njk' %}

{% block main %}
  <div class="o-wrapper u-py-10 u-py-16@tablet">
    <h1>Puppy Development Starter Project</h1>
    <p>Just remove all this, and start developing!</p>

    <a style="margin-right: 24px" href="/user-guide.html">User Guide</a>
    <a style="margin-right: 24px" href="/examples.html">Check out examples</a>
    <a href="/nunjucks.html">Check out Nunjucks docs</a>

    {# Just an example of the path needed to include an image #}
    {# <img src="/assets/images/logo.svg" /> #}
  </div>
{% endblock %}
