{% set page = "index" %}
{% extends 'includes/_base.njk' %}

{% block main %}
  <div class="o-wrapper u-py-10 u-py-16@tablet">
    <h1>Puppy Development Starter Project</h1>
    <p>Just remove all this, and start developing!</p>

    <a style="margin-right: 24px" href="/user-guide.html">User Guide</a>
    <a href="/examples.html">Check out examples</a>

    <div class="c-square c-square--home">
      <h2 class="c-square__title">Title</h2>
      <p class="c-square__text">Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>

    <div class="c-square c-square--blue c-square--thick">
      <h2 class="c-square__title">Title</h2>
      <p class="c-square__text">Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>








    {# Just an example of the path needed to include an image #}
    {# <img src="/assets/images/logo.svg" /> #}
  </div>
{% endblock %}
