{% extends 'base.njk' %}

{% block main %}
<div class="o-wrapper">
  <h1>You appear to be offline</h2>
  <p>You appear to have lost your connection to the Internet. Once you reconnect we'll get back to showing you your content.</p>
</div>
{% endblock %}
