{% set page = "styleguide" %}
{% extends 'includes/_base.njk' %}

{% block main %}

  {# Default Page Styling unattached to the theme #}
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/open-sauce-one" type="text/css"/> {# Wild Dog Brand Font #}
  <style>
    section {
      margin: 40px 0;
    }

    .wilddog {
      font-family: 'OpenSauceOneRegular', Helvetica Neue, Georgia, serif; /* Wild Dog Brand Font */
    }

    .wilddog-red {
      font-family: 'OpenSauceOneRegular', Helvetica Neue, Georgia, serif; /* Wild Dog Brand Font */
      color: #e6223d!important; /* Wild Dog Brand Colour */
    }

  </style>

  <div class="o-wrapper u-py-10 u-py-16@tablet">
    <h1 class="wilddog-red">Styleguide</h1>
    <p class="o-text o-text--large">This styleguide is beneficial to both the client and the developers, for it allows clients to understand the branding and guidelines of the site, whilst developers can use this page to cross-browser test the core components including fonts, colours, hover effects and default states.</p>

    {# *************** TYPOGRAPHY *************** #}
    <section>
      <h2 class="wilddog-red">Typography</h2>

      <style>
        typography {
          display: flex;
          justify-content: space-between;
          margin: 40px 0;
        }

        typography.font {
          margin-top: 20px;
        }

        typographyColumn {
          display: block;
          width: 100%;
        }

        typography.font typographyColumn {
          width: 23.5%;
        }
      </style>
        <h3 class="wilddog">Title Font</h3>

        <typography class="font">
          <typographyColumn>
            <h4 class="u-font--title u-weight--light">Helvetica Neue<br>Light</h4>
            <p class="u-font--title u-weight--light">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz<br><br>
            0 1 2 3 4 5 6 7 8 9</p>
          </typographyColumn>

          <typographyColumn>
            <h4 class="u-font--title u-weight--normal">Helvetica Neue<br>Regular</h4>
            <p class="u-font--title u-weight--normal">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz<br><br>
            0 1 2 3 4 5 6 7 8 9</p>
          </typographyColumn>

          <typographyColumn>
            <h4 class="u-font--title u-weight--semibold">Helvetica Neue<br>Semibold</h4>
            <p class="u-font--title u-weight--semibold">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz<br><br>
            0 1 2 3 4 5 6 7 8 9</p>
          </typographyColumn>

          <typographyColumn>
            <h4 class="u-font--title u-weight--bold">Helvetica Neue<br>Bold</h4>
            <p class="u-font--title u-weight--bold">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz<br><br>
            0 1 2 3 4 5 6 7 8 9</p>
          </typographyColumn>
        </typography>

        <h3 class="wilddog">Main Font</h3>

        <typography class="font">
          <typographyColumn>
            <h4 class="u-font--main u-weight--light">Edmond Sans<br>Light</h4>
            <p class="u-font--main u-weight--light">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz<br><br>
            0 1 2 3 4 5 6 7 8 9</p>
          </typographyColumn>

          <typographyColumn>
            <h4 class="u-font--main u-weight--normal">Edmond Sans<br>Regular</h4>
            <p class="u-font--main u-weight--normal">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz<br><br>
            0 1 2 3 4 5 6 7 8 9</p>
          </typographyColumn>

          <typographyColumn>
            <h4 class="u-font--main u-weight--semibold">Edmond Sans<br>Semibold</h4>
            <p class="u-font--main u-weight--semibold">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz<br><br>
            0 1 2 3 4 5 6 7 8 9</p>
          </typographyColumn>

          <typographyColumn>
            <h4 class="u-font--main u-weight--bold">Edmond Sans<br>Bold</h4>
            <p class="u-font--main u-weight--bold">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz<br><br>
            0 1 2 3 4 5 6 7 8 9</p>
          </typographyColumn>
        </typography>

        <typography>
          <typographyColumn>
            <h3 class="wilddog-red">Headers</h3>
            <h1>Header 1</h1>
            <h2>Header 2</h2>
            <h3>Header 3</h3>
            <h4>Header 4</h4>
            <h5>Header 5</h5>
            <h6>Header 6</h6>
          </typographyColumn>

          <typographyColumn>
            <h3 class="wilddog-red">Body</h3>
            <p class="o-text o-text--large">Body (Large) .. Donec id elit non mi porta gravida at eget metus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec sed odio dui. </p>

            <p class="o-text">Body (Regular) .. Donec id elit non mi porta gravida at eget metus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec sed odio dui. </p>

            <p class="o-text o-text--small">Body (Small) .. Donec id elit non mi porta gravida at eget metus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec sed odio dui. </p>
          </typographyColumn>
        </typography>

        <typography>
          <typographyColumn>
            <h3 class="wilddog-red">Lists</h3>
            <h4>Ordered Lists</h4>
            <ol>
              <li>List Item</li>
              <li>List Item</li>
              <li>List Item</li>
              <li>List Item</li>
              <li>List Item</li>
            </ol>

            <h4>Unordered Lists</h4>
            <ul>
              <li>List Item</li>
              <li>List Item</li>
              <li>List Item</li>
              <li>List Item</li>
              <li>List Item</li>
            </ul>
          </typographyColumn>

          <typographyColumn>
            <h3 class="wilddog-red">Quotes</h3>
            <blockquote>
              <p>Lorem ipsum dolor sit amet, cons etetur sadips cing elitr, sed diam nonumy eirmod tempor. Lorem ipsum dolor sit amet, consetetur sadips cing elitr, sed diam. Lorem ipsum dolor sit amet, cons etetur sadips cing elitr, sed diam nonumy eirmod tempor. Lorem ipsum dolor sit amet, consetetur sadips cing elitr, sed diam.</p>
              <cite>
                  <b>Author Name Goes Here</b><br>
                  Wild Dog Design
              </cite>
            </blockquote>
          </typographyColumn>
        </typography>
    </section>

    {# *************** COLOURS *************** #}
    <section>
      <h2 class="wilddog-red">Colours</h2>

      <style>
        colours {
          display: flex;
          justify-content: space-evenly;
        }

        colour {
          display: block;
          text-align: center;
        }

        circle {
          border-radius: 100%;
          width: 100px;
          height: 100px;
          display: block;
          margin: 20px auto;
        }

        circle img {
          height: 100%;
          max-width: 75px;
          margin-left: 10px; /* Wild Dog Logo Only to account for the tail! */
          /* margin: 0 auto; */ /* Most Logos will be centered */
        }

        square {
          width: 20px;
          height: 20px;
          display: inline-block;
          margin: 10px 4px -4px;
        }
      </style>

      <colours>
        <colour>
          <circle class="u-bg--primary"><img src="../images/logo-white.svg"/></circle>
          <p class="wilddog">Primary Colour<br>
            <square class="u-bg--primary"></square> #000abc
          </p>
        </colour>

        <colour>
          <circle class="u-bg--secondary"><img src="../images/logo-white.svg"/></circle>
          <p class="wilddog">Secondary Colour<br>
            <square class="u-bg--secondary"></square> #000abc
          </p>
        </colour>

        <colour>
          <circle class="u-bg--accent"><img src="../images/logo-white.svg"/></circle>
          <p class="wilddog">Accent Colour<br>
            <square class="u-bg--accent"></square> #000abc
          </p>
        </colour>

        <colour>
          <circle class="u-bg--text"><img src="../images/logo-white.svg"/></circle>
          <p class="wilddog">Text Colour<br>
            <square class="u-bg--text"></square> #000abc
          </p>
        </colour>
      </colours>
    </section>

    {# *************** NAVIGATION *************** #}
    <section>
      <h2 class="wilddog-red">Navigation</h2>
      <style>
        navigation {
          margin: 40px 0;
          display: block;
        }
      </style>

      <navigation>
        <h3 class="wilddog">Header Navigation</h3>
        {% include 'includes/_header.njk' %}
      </navigation>

      <navigation>
        <h3 class="wilddog">Footer Navigation</h3>
        {% include 'includes/_footer.njk' %}
      </navigation>
    </section>

    {# *************** BUTTONS *************** #}
    <section>
      <h2 class="wilddog-red">Buttons</h2>
      <style>
        buttons {
          margin: 40px 0;
          display: flex;
          align-items: center;
        }

        buttons button {
          margin-right: 40px;
        }

        buttons a {
          margin-right: 40px;
        }

        buttons .button-bg {
          background: #f1f1f1;
          padding: 20px;
          margin-right: 40px;
        }

        buttons .button-bg button:last-of-type {
          margin-right: 0;
        }
      </style>

      <buttons>
        <button class="o-btn">Primary Button</button>
        <button class="o-btn" disabled>Disabled Primary Button</button>
        <button class="o-btn o-btn--secondary">Secondary Button</button>
        <button class="o-btn o-btn--secondary" disabled>Disabled Secondary Button</button>
      </buttons>

      <buttons>
        <button class="o-btn o-btn--accent">Accent Button</button>
        <button class="o-btn o-btn--accent" disabled>Disabled Accent Button</button>
        <button class="o-btn o-btn--black">Black Button</button>
        <button class="o-btn o-btn--black" disabled>Disabled Black Button</button>
      </buttons>

      <buttons>
        <div class="button-bg">
          <button class="o-btn o-btn--white">White Button</button>
          <button class="o-btn o-btn--white" disabled>Disabled White Button</button>
        </div>
      </buttons>
    </section>

    {# *************** LINKS *************** #}
    <section>
      <h2 class="wilddog-red">Links</h2>

      <p class="o-text">
        <a href="#">https://www.example-link.com</a>
      </p>

      <p class="o-text">Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia <a href="#">bibendum nulla sed consectetur</a>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Lorem ipsum</a> dolor sit amet, consectetur adipiscing elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nulla vitae elit libero, <a href="#">a pharetra augue</a>.</p>
    </section>

    {# *************** FORM ELEMENTS *************** #}
    <section>
      <h2 class="wilddog-red">Form Elements</h2>
      <style>
        fieldset {
          display: flex;
          flex-wrap: wrap;
          margin: 20px 0;
        }

        legend {
          width: 100%;
        }

        fieldset div {
          width: 35%;
        }

        fieldset div:nth-of-type(2n) {
          margin-left: 40px;
        }

        fieldset button:nth-of-type(2n) {
          margin-left: 40px;
        }
      </style>

      <form
        id="form-id"
        action="#"
        method="post"
        class="js-recaptcha"
      >
        <label class="u-hidden">Form Name<input name="form" type="hidden" value="form-name" /></label>
        <label class="u-hidden">Form ID<input name="id" type="hidden" value="form-id" /></label>
        <label class="u-hidden">Form Submission<input name="form_name_submission" type="hidden" /></label>

        <h3 class="wilddog">Example Form Title</h3>
        <p>Required fields are followed by <abbr title="required" aria-label="required">*</abbr>.</p>
        {# Note that this piece of help text states a rule for required elements. The rule must be included before it is used so that sighted users and users of assistive technologies such as screen readers can learn what it means before they encounter a required element. While this helps inform users what an asterisk means, it can not be relied upon. #}

        <section> {# Form should be sectioned based on the content #}
          <h4 class="wilddog">Text Inputs</h4> {# Each Section should have a title #}

          {# ******** TEXT BOX FIELD ******** #}
          <fieldset> {# Groups of inputs that relate to one piece of content should be grouped in a fieldset #}
            <legend>Text Box</legend> {# Each Fieldset should have a title that makes sense being read before each field label inside it. #}

            <div>
              <label for="text-box-active">Active & Required Label <abbr title="required" aria-label="required">*</abbr></label>
              <input
                type="text"
                name="tb_active"
                id="text-box-active"
                placeholder="Active Text Box Placeholder"
                class=""
                required
              >
            </div>

            <div>
              <label for="text-box-active">Disabled Label</label>
              <input
                type="text"
                name="tb_disabled"
                id="text-box-disabled"
                placeholder="Disabled Text Box Placeholder"
                class=""
                disabled
              >
            </div>
          </fieldset>

          {# ******** EMAIL FIELD ******** #}
          <fieldset> {# Groups of inputs that relate to one piece of content should be grouped in a fieldset #}
            <legend>Email</legend> {# Each Fieldset should have a title that makes sense being read before each field label inside it. #}

            <div>
              <label for="email-active">Active & Required Label <abbr title="required" aria-label="required">*</abbr></label>
              <input
                type="email"
                name="email_active"
                id="email-active"
                placeholder="example@wilddogdesign.co.uk"
                class=""
                required
              >
            </div>

            <div>
              <label for="email-active">Disabled Label</label>
              <input
                type="email"
                name="email_disabled"
                id="email-disabled"
                placeholder="example@wilddogdesign.co.uk"
                class=""
                disabled
              >
            </div>
          </fieldset>

          {# ******** PHONE FIELD ******** #}
          <fieldset> {# Groups of inputs that relate to one piece of content should be grouped in a fieldset #}
            <legend>Phone Numbers</legend> {# Each Fieldset should have a title that makes sense being read before each field label inside it. #}

            <div>
              <label for="tel-active">Active & Required Label <abbr title="required" aria-label="required">*</abbr></label>
              <input
                type="tel"
                name="tel_active"
                id="tel-active"
                placeholder="01273 278766"
                class=""
                required
              >
            </div>

            <div>
              <label for="tel-active">Disabled Label</label>
              <input
                type="tel"
                name="tel_disabled"
                id="tel-disabled"
                placeholder="01273 278766"
                class=""
                disabled
              >
            </div>
          </fieldset>

          {# ******** TEXT AREA FIELD ******** #}
          <fieldset> {# Groups of inputs that relate to one piece of content should be grouped in a fieldset #}
            <legend>Text Area</legend> {# Each Fieldset should have a title that makes sense being read before each field label inside it. #}

            <div>
              <label for="text-area-active">Active & Required Label <abbr title="required" aria-label="required">*</abbr></label>
              <textarea
                name="text_area_active"
                id="text-area-active"
                rows="1"
                placeholder="Active Text Area Placeholder"
                class=""
                required
              ></textarea>
            </div>

            <div>
              <label for="text-area-active">Disabled Label</label>
              <textarea
                name="text_area_disabled"
                rows="1"
                id="text-area-disabled"
                placeholder="Disabled Text Area Placeholder"
                class=""
                disabled
              ></textarea>
            </div>
          </fieldset>

          {# ******** NUMBER FIELD ******** #}
          <fieldset> {# Groups of inputs that relate to one piece of content should be grouped in a fieldset #}
            <legend>Number</legend> {# Each Fieldset should have a title that makes sense being read before each field label inside it. #}

            <div>
              <label for="number-active">Active & Required Label <abbr title="required" aria-label="required">*</abbr></label>
              <input
                type="number"
                name="number_active"
                id="number-active"
                value="50"
                step="10"
                min="0"
                max="100"
                class=""
                required
              >
            </div>

            <div>
              <label for="number-active">Disabled Label</label>
              <input
                type="number"
                name="number_disabled"
                id="number-disabled"
                value="50"
                step="10"
                min="0"
                max="100"
                class=""
                disabled
              >
            </div>
          </fieldset>

          {# ******** POST CODE FIELD ******** #}
          <fieldset> {# Groups of inputs that relate to one piece of content should be grouped in a fieldset #}
            <legend>Post Codes</legend> {# Each Fieldset should have a title that makes sense being read before each field label inside it. #}

            <div>
              <label for="pc-active">Active & Required Label <abbr title="required" aria-label="required">*</abbr></label>
              <input
                type="text"
                name="pc_active"
                id="pc-active"
                placeholder="BN1 1NH"
                maxlength="10"
                class=""
                required
              >
            </div>

            <div>
              <label for="pc-active">Disabled Label</label>
              <input
                type="text"
                name="pc_disabled"
                id="pc-disabled"
                placeholder="BN1 1NH"
                maxlength="10"
                class=""
                disabled
              >
            </div>
          </fieldset>

          {# ******** PASSWORD FIELD ******** #}
          <fieldset> {# Groups of inputs that relate to one piece of content should be grouped in a fieldset #}
            <legend>Passwords</legend> {# Each Fieldset should have a title that makes sense being read before each field label inside it. #}

            <div>
              <label for="pw-active">Active & Required Label <abbr title="required" aria-label="required">*</abbr></label>
              <input
                type="password"
                name="pw_active"
                id="pw-active"
                placeholder="Active Password Placeholder"
                class=""
                required
              >
            </div>

            <div>
              <label for="pw-active">Disabled Label</label>
              <input
                type="password"
                name="pw_disabled"
                id="pw-disabled"
                placeholder="Disabled Password Placeholder"
                class=""
                disabled
              >
            </div>
          </fieldset>

          {# ******** URL FIELD ******** #}
          <fieldset> {# Groups of inputs that relate to one piece of content should be grouped in a fieldset #}
            <legend>URLs</legend> {# Each Fieldset should have a title that makes sense being read before each field label inside it. #}

            <div>
              <label for="url-active">Active & Required Label <abbr title="required" aria-label="required">*</abbr></label>
              <input
                type="url"
                name="url_active"
                id="url-active"
                placeholder="https://wilddogdesign.co.uk/"
                class=""
                required
              >
            </div>

            <div>
              <label for="url-active">Disabled Label</label>
              <input
                type="url"
                name="url_disabled"
                id="url-disabled"
                placeholder="https://wilddogdesign.co.uk/"
                class=""
                disabled
              >
            </div>
          </fieldset>

          {# ******** SEARCH FIELD ******** #}
          <fieldset> {# Groups of inputs that relate to one piece of content should be grouped in a fieldset #}
            <legend>Search Fields</legend> {# Each Fieldset should have a title that makes sense being read before each field label inside it. #}

            <div>
              <label for="search-active">Active & Required Label <abbr title="required" aria-label="required">*</abbr></label>
              <input
                type="search"
                name="search_active"
                id="search-active"
                placeholder="Active Search Placeholder"
                class=""
                required
              >
            </div>

            <div>
              <label for="search-active">Disabled Label</label>
              <input
                type="search"
                name="search_disabled"
                id="search-disabled"
                placeholder="Disabled Search Placeholder"
                class=""
                disabled
              >
            </div>
          </fieldset>
        </section>

        <section>
          <h4 class="wilddog">Options Fields</h4>

          {# ******** SELECT FIELD ******** #}
          <fieldset> {# Groups of inputs that relate to one piece of content should be grouped in a fieldset #}
            <legend>Select Field</legend> {# Each Fieldset should have a title that makes sense being read before each field label inside it. #}

            <div>
              <label for="select-active">Active & Required Select Options <abbr title="required" aria-label="required">*</abbr></label>
              <select
                name="select_active"
                id="select-active"
                class=""
                required
              >
                <option selected>Please select...</option>
                <option value="UK">UK</option>
                <option value="france">France</option>
                <option value="germany">Germany</option>
              </select>
            </div>

            <div>
              <label for="select-disabled">Disabled Select Options</label>
              <select
                name="select_disabled"
                id="select-disabled"
                class=""
                disabled
              >
                <option selected>Please select...</option>
                <option value="UK">UK</option>
                <option value="france">France</option>
                <option value="germany">Germany</option>
              </select>
            </div>
          </fieldset>

          {# ******** RADIO BUTTONS ******** #}
          <fieldset> {# Radio Buttons should be grouped in a fieldset #}
            <legend>Radio Buttons</legend> {# Each Fieldset should have a title that makes sense being read before each field label inside it. #}

            <div>
              <label for="radio-one" class="">
                <input
                  type="radio"
                  name="radios"
                  id="radio-one"
                  value="radio 1"
                  class=""
                  required
                  checked
                >
                <span>Active & Required Radio Option 1 Label (Pre Selected) <abbr title="required" aria-label="required">*</abbr></span>
              </label>
            </div>

            <div>
              <label for="radio-two" class="">
                <input
                  type="radio"
                  name="radios"
                  id="radio-two"
                  value="Radio 1"
                  class=""
                  required
                >
                <span>Required Radio Option 2 Label <abbr title="required" aria-label="required">*</abbr></span>
              </label>
            </div>

            <div>
              <label for="radio-three" class="">
                <input
                  type="radio"
                  name="radios"
                  id="radio-three"
                  value="Radio 3"
                  class=""
                  disabled
                >
                <span>Radio Option 3 Label (Disabled)</span>
              </label>
            </div>
          </fieldset>

          {# ******** CHECKBOX FIELD ******** #}
          <fieldset> {# Groups of inputs that relate to one piece of content should be grouped in a fieldset #}
            <legend>Checkboxes</legend> {# Each Fieldset should have a title that makes sense being read before each field label inside it. #}

            <div>
              <label for="cb-active">
                <input
                  type="checkbox"
                  name="cb_active"
                  id="cb-active"
                  class=""
                  required
                >
                <span>Active & Required Checkbox ... donec id elit non mi porta gravida at eget metus <abbr title="required" aria-label="required">*</abbr></span>
              </label>
            </div>

            <div>
              <label for="cb-checked">
                <input
                  type="checkbox"
                  name="cb_checked"
                  id="cb-checked"
                  class=""
                  required
                  checked
                >
                <span>Checked Checkbox ... donec id elit non mi porta gravida at eget metus <abbr title="required" aria-label="required">*</abbr></span>
              </label>
            </div>

            <div>
              <label for="cb-disabled">
                <input
                  type="checkbox"
                  name="cb_disabled"
                  id="cb-disabled"
                  class=""
                  disabled
                >
                <span>Disabled Checkbox ... donec id elit non mi porta gravida at eget metus</span>
              </label>
            </div>
          </fieldset>

          {# ******** RANGE FIELD ******** #}
          <fieldset> {# Groups of inputs that relate to one piece of content should be grouped in a fieldset #}
            <legend>Range Field</legend> {# Each Fieldset should have a title that makes sense being read before each field label inside it. #}

            <div>
              <label for="range-active">Active & Required Label <abbr title="required" aria-label="required">*</abbr></label>
              <input
                type="range"
                name="range_active"
                id="range-active"
                step="1"
                min="0"
                max="5"
                class=""
                required
              >
            </div>

            <div>
              <label for="range-disabled">Disabled Label</label>
              <input
                type="range"
                name="range_disabled"
                id="range-disabled"
                step="1"
                min="0"
                max="5"
                class=""
                disabled
              >
            </div>
          </fieldset>

          {# ******** RANGE FIELD WITH MARKERS ******** #}
          <fieldset> {# Groups of inputs that relate to one piece of content should be grouped in a fieldset #}
            <legend>Range Field with Markers</legend> {# Each Fieldset should have a title that makes sense being read before each field label inside it. #}

            <div>
              <label for="range-list-active">Active & Required Label <abbr title="required" aria-label="required">*</abbr></label>
              <input
                type="range"
                name="range_list_active"
                id="range-list-active"
                list="range-list"
                step="10"
                min="0"
                max="50"
                class=""
                required
              >
              <datalist id="range-list">
                <option value="0"></option>
                <option value="10"></option>
                <option value="20"></option>
                <option value="30"></option>
                <option value="40"></option>
                <option value="50"></option>
                <option value="60"></option>
                <option value="70"></option>
                <option value="80"></option>
                <option value="90"></option>
                <option value="100"></option>
              </datalist>
            </div>

            <div>
              <label for="range-disabled">Disabled Label</label>
              <input
                type="range"
                name="range_list_disabled"
                id="range-list-disabled"
                list="range-list-two"
                step="10"
                min="0"
                max="60"
                class=""
                disabled
              >
              <datalist id="range-list-two">
                <option value="0"></option>
                <option value="10"></option>
                <option value="20"></option>
                <option value="30"></option>
                <option value="40"></option>
                <option value="50"></option>
                <option value="60"></option>
                <option value="70"></option>
                <option value="80"></option>
                <option value="90"></option>
                <option value="100"></option>
              </datalist>
            </div>
          </fieldset>
        </section>

        <section>
          <h4 class="wilddog">Date Fields</h4>

          {# ******** DATE FIELD ******** #}
          <fieldset> {# Groups of inputs that relate to one piece of content should be grouped in a fieldset #}
            <legend>Date</legend> {# Each Fieldset should have a title that makes sense being read before each field label inside it. #}

            <div>
              <label for="date-active">Active & Required Label <abbr title="required" aria-label="required">*</abbr></label>
              <input
                type="date"
                name="date_active"
                id="date-active"
                value="2021-07-22"
                min="2021-01-01"
                max="2021-12-31"
                class=""
                required
              >
            </div>

            <div>
              <label for="date-active">Disabled Label</label>
              <input
                type="date"
                name="date_disabled"
                id="date-disabled"
                value="2021-07-22"
                min="2021-01-01"
                max="2021-12-31"
                class=""
                disabled
              >
            </div>
          </fieldset>

          {# ******** TIME FIELD ******** #}
          <fieldset> {# Groups of inputs that relate to one piece of content should be grouped in a fieldset #}
            <legend>Time</legend> {# Each Fieldset should have a title that makes sense being read before each field label inside it. #}

            <div>
              <label for="time-active">Active & Required Label <abbr title="required" aria-label="required">*</abbr></label>
              <input
                type="time"
                name="time_active"
                id="time-active"
                value="13:30"
                min="09:00"
                max="18:00"
                class=""
                required
              >
            </div>

            <div>
              <label for="time-active">Disabled Label</label>
              <input
                type="time"
                name="time_disabled"
                id="time-disabled"
                value="13:30"
                min="09:00"
                max="18:00"
                class=""
                disabled
              >
            </div>
          </fieldset>

          {# ******** DATETIME FIELD ******** #}
          <fieldset> {# Groups of inputs that relate to one piece of content should be grouped in a fieldset #}
            <legend>Date & Time</legend> {# Each Fieldset should have a title that makes sense being read before each field label inside it. #}

            <div>
              <label for="datetime-active">Active & Required Label <abbr title="required" aria-label="required">*</abbr></label>
              <input
                type="datetime-local"
                name="datetime_active"
                id="datetime-active"
                value="2021-06-12T19:30"
                min="2021-01-07T00:00"
                max="2021-06-14T00:00"
                class=""
                required
              >
            </div>

            <div>
              <label for="datetime-active">Disabled Label</label>
              <input
                type="datetime-local"
                name="datetime_disabled"
                id="datetime-disabled"
                value="2021-06-12T19:30"
                min="2021-01-07T00:00"
                max="2021-06-14T00:00"
                class=""
                disabled
              >
            </div>
          </fieldset>

          {# ******** WEEK FIELD ******** #}
          <fieldset> {# Groups of inputs that relate to one piece of content should be grouped in a fieldset #}
            <legend>Week</legend> {# Each Fieldset should have a title that makes sense being read before each field label inside it. #}

            <div>
              <label for="week-active">Active & Required Label <abbr title="required" aria-label="required">*</abbr></label>
              <input
                type="week"
                name="week_active"
                id="week-active"
                value="2021-W20"
                min="2021-W18"
                max="2021-W26"
                class=""
                required
              >
            </div>

            <div>
              <label for="week-active">Disabled Label</label>
              <input
                type="week"
                name="week_disabled"
                id="week-disabled"
                value="2021-W20"
                min="2021-W18"
                max="2021-W26"
                class=""
                disabled
              >
            </div>
          </fieldset>

          {# ******** MONTH FIELD ******** #}
          <fieldset> {# Groups of inputs that relate to one piece of content should be grouped in a fieldset #}
            <legend>Month</legend> {# Each Fieldset should have a title that makes sense being read before each field label inside it. #}

            <div>
              <label for="month-active">Active & Required Label <abbr title="required" aria-label="required">*</abbr></label>
              <input
                type="month"
                name="month_active"
                id="month-active"
                value="2021-03"
                min="2021-01"
                max="2021-12"
                class=""
                required
              >
            </div>

            <div>
              <label for="month-active">Disabled Label</label>
              <input
                type="month"
                name="month_disabled"
                id="month-disabled"
                value="2021-03"
                min="2021-01"
                max="2021-12"
                class=""
                disabled
              >
            </div>
          </fieldset>

        </section>

        <section>
          <h4 class="wilddog">Form Buttons</h4>

          <fieldset> {# Groups of inputs that relate to one piece of content should be grouped in a fieldset #}
            <legend>Submit Buttons</legend> {# Each Fieldset should have a title that makes sense being read before each field label inside it. #}
            <button type="submit">
              This is a <strong>submit button</strong>
            </button>

            <button type="submit" disabled>
              This is a <strong>disabled submit button</strong>
            </button>
          </fieldset>

          <fieldset> {# Groups of inputs that relate to one piece of content should be grouped in a fieldset #}
            <legend>Reset Buttons</legend> {# Each Fieldset should have a title that makes sense being read before each field label inside it. #}

            <button type="reset">
              This is a <strong>reset button</strong>
            </button>

            <button type="reset" disabled>
              This is a <strong>disabled reset button</strong>
            </button>
          </fieldset>
        </section>

      </form>
    </section>

  </div>
{% endblock %}
