{% set page = "styleguide" %}
{% extends 'includes/_base.njk' %}

{% block main %}

  {# Default Page Styling unattached to the theme #}
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/open-sauce-one" type="text/css"/> {# Wild Dog Brand Font #}
  <style>
    section {
      margin: 40px 0;
    }

    .wilddog {
      font-family: 'OpenSauceOneRegular', Helvetica Neue, Georgia, serif; /* Wild Dog Brand Font */
    }

    .wilddog-red {
      font-family: 'OpenSauceOneRegular', Helvetica Neue, Georgia, serif; /* Wild Dog Brand Font */
      color: #e6223d!important; /* Wild Dog Brand Colour */
    }

  </style>

  <div class="o-wrapper u-py-10 u-py-16@tablet">
    <h1 class="wilddog-red">Styleguide</h1>

    {# *************** TYPOGRAPHY *************** #}
    <section>
      <h2 class="wilddog-red">Typography</h2>

      <style>
        typography {
          display: flex;
          justify-content: space-between;
          margin: 40px 0;
        }

        typography.font {
          margin-top: 20px;
        }

        typographyColumn {
          display: block;
          width: 100%;
        }

        typography.font typographyColumn {
          width: 23.5%;
        }
      </style>
        <h3 class="wilddog">Title Font</h3>

        <typography class="font">
          <typographyColumn>
            <h4 class="u-font--title u-weight--light">Helvetica Neue<br>Light</h4>
            <p class="u-font--title u-weight--light">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz<br><br>
            0 1 2 3 4 5 6 7 8 9</p>
          </typographyColumn>

          <typographyColumn>
            <h4 class="u-font--title u-weight--normal">Helvetica Neue<br>Regular</h4>
            <p class="u-font--title u-weight--normal">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz<br><br>
            0 1 2 3 4 5 6 7 8 9</p>
          </typographyColumn>

          <typographyColumn>
            <h4 class="u-font--title u-weight--semibold">Helvetica Neue<br>Semibold</h4>
            <p class="u-font--title u-weight--semibold">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz<br><br>
            0 1 2 3 4 5 6 7 8 9</p>
          </typographyColumn>

          <typographyColumn>
            <h4 class="u-font--title u-weight--bold">Helvetica Neue<br>Bold</h4>
            <p class="u-font--title u-weight--bold">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz<br><br>
            0 1 2 3 4 5 6 7 8 9</p>
          </typographyColumn>
        </typography>

        <h3 class="wilddog">Main Font</h3>

        <typography class="font">
          <typographyColumn>
            <h4 class="u-font--main u-weight--light">Edmond Sans<br>Light</h4>
            <p class="u-font--main u-weight--light">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz<br><br>
            0 1 2 3 4 5 6 7 8 9</p>
          </typographyColumn>

          <typographyColumn>
            <h4 class="u-font--main u-weight--normal">Edmond Sans<br>Regular</h4>
            <p class="u-font--main u-weight--normal">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz<br><br>
            0 1 2 3 4 5 6 7 8 9</p>
          </typographyColumn>

          <typographyColumn>
            <h4 class="u-font--main u-weight--semibold">Edmond Sans<br>Semibold</h4>
            <p class="u-font--main u-weight--semibold">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz<br><br>
            0 1 2 3 4 5 6 7 8 9</p>
          </typographyColumn>

          <typographyColumn>
            <h4 class="u-font--main u-weight--bold">Edmond Sans<br>Bold</h4>
            <p class="u-font--main u-weight--bold">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz<br><br>
            0 1 2 3 4 5 6 7 8 9</p>
          </typographyColumn>
        </typography>

        <typography>
          <typographyColumn>
            <h3 class="wilddog-red">Headers</h3>
            <h1>Header 1</h1>
            <h2>Header 2</h2>
            <h3>Header 3</h3>
            <h4>Header 4</h4>
            <h5>Header 5</h5>
            <h6>Header 6</h6>
          </typographyColumn>

          <typographyColumn>
            <h3 class="wilddog-red">Body</h3>
            <p class="o-text o-text--large">Body (Large) .. Donec id elit non mi porta gravida at eget metus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec sed odio dui. </p>

            <p class="o-text">Body (Regular) .. Donec id elit non mi porta gravida at eget metus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec sed odio dui. </p>

            <p class="o-text o-text--small">Body (Small) .. Donec id elit non mi porta gravida at eget metus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec sed odio dui. </p>
          </typographyColumn>
        </typography>

        <typography>
          <typographyColumn>
            <h3 class="wilddog-red">Lists</h3>
            <h4>Ordered Lists</h4>
            <ol>
              <li>List Item</li>
              <li>List Item</li>
              <li>List Item</li>
              <li>List Item</li>
              <li>List Item</li>
            </ol>

            <h4>Unordered Lists</h4>
            <ul>
              <li>List Item</li>
              <li>List Item</li>
              <li>List Item</li>
              <li>List Item</li>
              <li>List Item</li>
            </ul>
          </typographyColumn>

          <typographyColumn>
            <h3 class="wilddog-red">Quotes</h3>
            <blockquote>
              <p>Lorem ipsum dolor sit amet, cons etetur sadips cing elitr, sed diam nonumy eirmod tempor. Lorem ipsum dolor sit amet, consetetur sadips cing elitr, sed diam. Lorem ipsum dolor sit amet, cons etetur sadips cing elitr, sed diam nonumy eirmod tempor. Lorem ipsum dolor sit amet, consetetur sadips cing elitr, sed diam.</p>
              <cite>
                  <b>Author Name Goes Here</b><br>
                  Wild Dog Design
              </cite>
            </blockquote>
          </typographyColumn>
        </typography>
    </section>

    {# *************** COLOURS *************** #}
    <section>
      <h2 class="wilddog-red">Colours</h2>

      <style>
        colours {
          display: flex;
          justify-content: space-evenly;
        }

        colour {
          display: block;
          text-align: center;
        }

        circle {
          border-radius: 100%;
          width: 100px;
          height: 100px;
          display: block;
          margin: 20px auto;
        }

        square {
          width: 20px;
          height: 20px;
          display: inline-block;
          margin: 10px 4px -4px;
        }
      </style>

      <colours>
        <colour>
          <circle class="u-bg--primary"></circle>
          <p class="wilddog">Primary Colour<br>
            <square class="u-bg--primary"></square> #000abc
          </p>
        </colour>

        <colour>
          <circle class="u-bg--secondary"></circle>
          <p class="wilddog">Secondary Colour<br>
            <square class="u-bg--secondary"></square> #000abc
          </p>
        </colour>

        <colour>
          <circle class="u-bg--accent"></circle>
          <p class="wilddog">Accent Colour<br>
            <square class="u-bg--accent"></square> #000abc
          </p>
        </colour>

        <colour>
          <circle class="u-bg--text"></circle>
          <p class="wilddog">Text Colour<br>
            <square class="u-bg--text"></square> #000abc
          </p>
        </colour>
      </colours>
    </section>

    {# *************** NAVIGATION *************** #}
    <section>
      <h2 class="wilddog-red">Navigation</h2>
      <style>
        navigation {
          margin: 40px 0;
          display: block;
        }
      </style>

      <navigation>
        <h3 class="wilddog">Header Navigation</h3>
        {% include 'includes/_header.njk' %}
      </navigation>

      <navigation>
        <h3 class="wilddog">Footer Navigation</h3>
        {% include 'includes/_footer.njk' %}
      </navigation>
    </section>

    {# *************** BUTTONS *************** #}
    <section>
      <h2 class="wilddog-red">Buttons</h2>
      <style>
        buttons {
          margin: 40px 0;
          display: flex;
          align-items: center;
        }

        buttons button {
          margin-right: 40px;
        }

        buttons a {
          margin-right: 40px;
        }

        buttons .button-bg {
          background: grey;
          padding: 20px;
          margin-right: 40px;
        }

        buttons .button-bg button:last-of-type {
          margin-right: 0;
        }
      </style>

      <buttons>
        <button class="o-btn">Primary Button</button>
        <button class="o-btn" disabled>Disabled Primary Button</button>
        <button class="o-btn o-btn--secondary">Secondary Button</button>
        <button class="o-btn o-btn--secondary" disabled>Disabled Secondary Button</button>
      </buttons>

      <buttons>
        <button class="o-btn o-btn--accent">Accent Button</button>
        <button class="o-btn o-btn--accent" disabled>Disabled Accent Button</button>
        <button class="o-btn o-btn--black">Black Button</button>
        <button class="o-btn o-btn--black" disabled>Disabled Black Button</button>
      </buttons>

      <buttons>
        <div class="button-bg">
          <button class="o-btn o-btn--white">White Button</button>
          <button class="o-btn o-btn--white" disabled>Disabled White Button</button>
        </div>
      </buttons>

      <buttons>
        <a href="#">Anchor: example-link.com</a>
      </buttons>
    </section>

    {# *************** FORM ELEMENTS *************** #}
    <section>
      <h2 class="wilddog-red">Form Elements</h2>
      Including inactive, active, hover and disabled states.
      Search
      Filter (may be comprised of below)
      Text Input
      Dropdown Menu
      Checkbox
      Radio Button
    </section>

  </div>
{% endblock %}
