@mixin proportionate-height($height: 100%) {
  &::before {
    content: '';
    display: block;
    padding-top: $height;
    float: left;
  }

  &::after {
      content: '';
      display: table;
      clear: both;
  }
}
