.c-dialog {
  &[aria-hidden='true'] {
    display: none;
  }
}

  .c-dialog__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color--white--thick;
  }

  .c-dialog__container {
    position: fixed;
    top: 50%;
    right: 0;
    left: 0;
    width: 90%;
    max-width: rem(900px);
    max-height: 90vh;
    margin: 0 auto;
    padding: rem(50px) rem(32px);
    overflow-y: auto;
    transform: translateY(-50%);
    background-color: $color--white;
    box-shadow: 0 3px 6px $color--black--thin;

    @include mq($from: tablet) {
      padding: rem(60px);
    }
  }

    .c-dialog__close {
      display: block;
      position: absolute;
      top: rem(32px);
      right: rem(32px);
      width: rem(32px);
      height: rem(32px);
      margin-right: 0;
      margin-left: auto;
      border: 0;
      border-radius: 0;
      background-color: transparent;
      background-image: url('../images/cross.svg');
      background-repeat: no-repeat;
      background-size: rem(32px) rem(32px);
      text-indent: rem(-9999px);
      cursor: pointer;
      appearance: none;

      &:focus {
        outline: none;
      }
    }

    .c-dialog__content {
      width: 100%;
      height: 100%;
    }
