// sass-lint:disable no-important

/**
 * Add/remove floats:
 * Helper float classes.
 *
 * - `.u-float--right` - float right
 * - `.u-float--left` - float left
 * - `.u-float--none` - remove float
 */
.u-float--right   { float: right !important; }
.u-float--left    { float: left  !important; }
.u-float--none    { float: none  !important; }


/**
 * Text alignment:
 * Helper text alignment classes.
 *
 * - `.u-text--left` - align text left
 * - `.u-text--center` - center align text
 * - `.u-text--right` - align text right
 */
.u-text--left     { text-align: left   !important; }
.u-text--center   { text-align: center !important; }
.u-text--right    { text-align: right  !important; }


/**
 * Font weights:
 * Helper font weight classes.
 *
 * - `.u-weight--light` - font weight of 200
 * - `.u-weight--normal` - font weight of 400
 * - `.u-weight--semibold` - font weight of 600
 * - `.u-weight--bold` - font weight of 800
 */
.u-weight--light      { font-weight: 200 !important; }
.u-weight--normal     { font-weight: 400 !important; }
.u-weight--semibold   { font-weight: 600 !important; }
.u-weight--bold       { font-weight: 800 !important; }

/**
 * Information cursor:
 * Helper to add information cursor to element.
 *
 * - `.u-informative` - add a help cursor to any element that gives the user extra information on
 * `:hover`.
 */
.u-informative {
  cursor: help !important;
}

/**
 * Muted element:
 * Mute an object by reducing its opacity.
 *
 * - `.u-muted` - mute an object.
 */
.u-muted {
  opacity: .5 !important;
}

/**
 * Capital case:
 * Apply capital case to an element (usually a `strong`).
 *
 * - `.u-caps` - apply caps
 */
.u-caps {
  text-transform: uppercase !important;
}

/**
 * Smaller text:
 * Make text size smaller.
 *
 * - `.u-small` - make text size smaller
 */
.u-small {
  font-size: .9em !important;
}

/**
 * Foreground colors:
 * Apply specific color.
 *
 * - `.u-color--primary` - brand colour
 * - `.u-color--secondary` - brand colour
 * - `.u-color--accent` - brand colour
 * - `.u-color--text` - main text colour
 * - `.u-color--white` - white colour
 * - `.u-color--black` - black colour
 */
.u-color--primary {
  color: $color--primary !important;

  &:hover {
    color: $color--primary !important;
  }
}

.u-color--secondary {
  color: $color--secondary !important;

  &:hover {
    color: $color--secondary !important;
  }
}

.u-color--accent {
  color: $color--accent !important;

  &:hover {
    color: $color--accent !important;
  }
}

.u-color--text {
  color: $color--text !important;
}

.u-color--white {
  color: $color--white !important;
}

.u-color--black {
  color: $color--black !important;
}

/**
 * Background colors:
 * Apply specific color to background.
 *
 * - `.u-color--primary` - brand colour
 * - `.u-color--secondary` - brand colour
 * - `.u-color--accent` - brand colour
 * - `.u-bg--text` - main text colour
 * - `.u-bg--white` - white colour
 * - `.u-bg--black` - black colour
 * - `.u-bg--grey` - grey colour
 * - `.u-bg--grey-dark` - dark grey colour
 * - `.u-bg--grey-light` - light grey colour
 */
.u-bg--primary {
  background-color: $color--primary !important;
}

.u-bg--secondary {
  background-color: $color--secondary !important;
}

.u-bg--accent {
  background-color: $color--accent !important;
}

.u-bg--text {
  background-color: $color--text !important;
}

.u-bg--white {
  background-color: $color--white !important;
}

.u-bg--black {
  background-color: $color--black !important;
}

/**
 * Circle:
 * Create circle
 *
 * - `.circled` - circle in.
 */
.u-circled {
  border-radius: 50%;
}


/**
 * Hide text:
 * Hide text inside element
 *
 * - `.text--hidden` - hide text
 */
.u-text--hidden {
  overflow: hidden;
  text-indent: -9999px;
  white-space: nowrap;
}

/**
 * Background positions:
 * Position a background differently
 * So Agata can do this without having to remember to ask us every time
 *
 * - `.u-background--top-left` - Top left etc
 */
.u-background {
  background-position: center center;

  &--top-left {
    background-position: top left;
  }

  &--top {
    background-position: top center;
  }

  &--top-right {
    background-position: top right;
  }

  &--left {
    background-position: center left;
  }

  &--right {
    background-position: center right;
  }

  &--bottom-left {
    background-position: bottom left;
  }

  &--bottom {
    background-position: bottom center;
  }

  &--bottom-right {
    background-position: bottom right;
  }
}

/**
 * Object fit:
 * For images that fill their entire parent container
 * Parent container must be `position: relative`
 */
.u-object-fit {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform .4s ease-in-out;
  object-fit: cover;
  object-position: center;
}

/**
 * Object positions:
 * Position an object differently if set to object-fit: cover
 * So Agata can do this without having to remember to ask us every time
 *
 * - `.u-object-position--top-left` - Top left etc
 */
.u-object-position {
  object-position: center center;

  &--top-left {
    object-position: top left;
  }

  &--top {
    object-position: top center;
  }

  &--top-right {
    object-position: top right;
  }

  &--left {
    object-position: center left;
  }

  &--right {
    object-position: center right;
  }

  &--bottom-left {
    object-position: bottom left;
  }

  &--bottom {
    object-position: bottom center;
  }

  &--bottom-right {
    object-position: bottom right;
  }
}
