// General
.btn {
	background: transparent;
	color: $color--grey-dark;
	padding: 6px 12px;
	border: 1px solid $color--grey-dark;
	transition: all .3s ease-in-out;
}
.btn:hover {
	background: $color--black;
	color: $color--white;
	transition: all .3s ease-in-out;
}
.btn--grey {
	background: $color--grey;
	border-color: $color--grey;
}
.btn--grey:hover {
	border-color: $color--grey-dark;
}
.btn--brand {
	color: $color--brand;
	border-color: $color--brand;
}
.btn--brand:hover {
	color: $color--white;
	background-color: $color--brand;
}
.btn--light {
	color: $color--white;
	border-color: $color--white;
}
// .btn--light:hover {
// 	color: $color--grey-dark;
// }

// Transparent
// .btn--transparent {
// 	background: transparent;
// 	color: $color--grey-dark;
// }
// .btn--transparent:focus {
// 	color: $color--grey-dark;
// }
// .btn--transparent:hover {
// 	background: $color--grey-dark;
// 	color: $color--white;
// }
// .btn--transparent.btn--light {
// 	border: 1px solid $color--white;
// 	color: $color--white;
// }
// .btn--transparent.btn--light:hover {
// 	background: $color--white;
// 	color: $color--grey-dark;
// }

// Misc
.btn--full {
	width: 100%;
}