{% assign titleattr = 'Home' %}
{% assign bodyclass = 'pg-home' %}

{% include "./includes/header" %}

<main>
  <section class="greeting visible-xs">
    <div class="container">
      <h1>Congratulations!</h1>
      <h2>You have spun off the starter Wild Dog project</h2>
    </div>
  </section>
<main>

{% include "./includes/footer" %}