{% assign page = "home" %}
{% include "./includes/_head" %}
{% include "./includes/_header" %}

<div role="main" class="main" id="main">
	<div class="hero">
		<div class="hero__image" style="background-image: url('assets/img/hero-1.jpg')"></div>
	</div>
	<div class="container">
		<div class="layout layout--flex">
			<div class="layout__item 2/3 pv++ text--center">
				Wild Dog is an award winning Brighton based design agency, with expertise in branding, responsive website design, travel brochures, direct mail and email marketing, iPad apps, advertising and social media integration.
				<a href="#" class="btn mv">what our clients say</a>
			</div>
		</div>
	</div>
	<div class="tiles">
		<div class="layout layout--small">
			<a href="project.html" class="tiles__item layout__item">
				<div class="tiles__item__cover" style="background-image: url('assets/img/tile-1.jpg')"></div>
				<div class="tiles__item__description">
					<h2 class="tiles__item__heading">The New World website</h2>
					<span class="btn btn--light mv">view project</span>
				</div>
			</a>
			<a href="project.html" class="tiles__item layout__item" style="background-image: url('assets/img/')"></a>
			<a href="project.html" class="tiles__item layout__item" style="background-image: url('assets/img/')"></a>
			<a href="project.html" class="tiles__item layout__item" style="background-image: url('assets/img/')"></a>
			<a href="project.html" class="tiles__item layout__item" style="background-image: url('assets/img/')"></a>
			<a href="project.html" class="tiles__item layout__item" style="background-image: url('assets/img/')"></a>
			<a href="project.html" class="tiles__item layout__item" style="background-image: url('assets/img/')"></a>
			<a href="project.html" class="tiles__item layout__item" style="background-image: url('assets/img/')"></a>
			<a href="project.html" class="tiles__item layout__item" style="background-image: url('assets/img/')"></a>
			<a href="project.html" class="tiles__item layout__item" style="background-image: url('assets/img/')"></a>
			<a href="project.html" class="tiles__item layout__item" style="background-image: url('assets/img/')"></a>
			<a href="project.html" class="tiles__item layout__item" style="background-image: url('assets/img/')"></a>
		</div>
	</div>
</div>

{% include "./includes/_footer" %}