$color--brand			: red;

$color--white 			: #fff;
$color--black			: #111;
$color--text			: $inuit-base-text-color;

$color--grey 			: #666;
$color--grey-dark 		: #333;
$color--grey-light 		: #eee;

$font--main				: Arial, sans-serif;
$font--title			: Arial, sans-serif;