// Critical styles to be inlined into <head>

$jacket: critical;

// @import 'styles';
// Settings: Global variables, site-wide settings, config switches, etc.
  $inuit-base-font-size:   16px;
  // $inuit-base-line-height: 18px;
  @import "bower_components/inuit-defaults/settings.defaults";
  @import "bower_components/inuit-responsive-settings/settings.responsive";
  @import "partials/settings/settings.local";

// Tools: Site-wide mixins and functions.
  @import "bower_components/inuit-functions/tools.functions";
  @import "bower_components/inuit-mixins/tools.mixins";
  @import "bower_components/inuit-tools-widths/tools.widths";
  @import "bower_components/inuit-responsive-tools/tools.responsive";

// Plugins: Third-party plugins
  // Bourbon
  @import "bower_components/bourbon/app/assets/stylesheets/bourbon";
  $em-base: $inuit-base-font-size;

  @import "bower_components/jacket/stylesheets/jacket";

  @import "bower_components/inuit-page/base.page";
  @import "bower_components/inuit-images/base.images";
  @import "bower_components/inuit-headings/base.headings";

  @import "partials/components/components.general";