// SETTINGS
$inuit-global-font-size: 16px;
@import 'settings/settings.config';
@import 'node_modules/inuitcss/settings/settings.core';
@import 'settings/settings.global';
@import 'settings/settings.colours';
@import 'settings/settings.fonts';

// TOOLS
@import 'node_modules/inuitcss/tools/tools.clearfix';
@import 'node_modules/inuitcss/tools/tools.font-size';
@import 'node_modules/inuitcss/tools/tools.hidden';
@import 'node_modules/sass-mq/mq';
@import 'tools/tools.rem';

// GENERIC
// This is how you add code to critical. You can also do it within a file if you only want specific bits
/* critical:start */
@import 'node_modules/inuitcss/generic/generic.box-sizing';
@import 'node_modules/inuitcss/generic/generic.normalize';
@import 'node_modules/inuitcss/generic/generic.shared';
/* critical:end */

// ELEMENTS
@import 'node_modules/inuitcss/elements/elements.headings';
@import 'elements/elements.headings';
@import 'elements/elements.page';

// OBJECTS
// Add your custom objects here
@import 'objects/objects.layout';
@import 'objects/objects.wrapper';

// COMPONENTS
// Add your custom components here
@import 'components/components.footer';
@import 'components/components.header';

// UTILITIES
@import 'node_modules/inuitcss/utilities/utilities.headings';
@import 'node_modules/inuitcss/utilities/utilities.hide';
@import 'node_modules/inuitcss/utilities/utilities.print';
// @import 'node_modules/inuitcss/utilities/utilities.spacings';
// @import 'node_modules/inuitcss/utilities/utilities.responsive-spacings';
@import 'node_modules/inuitcss/utilities/utilities.widths';
@import 'utilities/utilities.helpers';
@import 'utilities/utilities.z-index';
