<footer role="contentinfo" class="c-contentinfo u-padding-top-large u-padding-bottom-huge">
	<div class="o-container">
    <a href="https://github.com/wilddogdesign/puppy"><span class="o-icon"><svg role="presentation"><use xlink:href="/assets/icons/icons.svg#github"/></svg></span> Puppy's lair</a>
		<p>&copy; <a href="https://wilddogdesign.co.uk">Wild Dog Design</a></p>
	</div>
</footer>