<footer role="contentinfo">
	<div class="o-wrapper">
    <a href="https://github.com/wilddogdesign/webpack-whippet">
      <span class="o-icon">
      <svg style="width:50px; height: 50px" role="presentation"><use xlink:href="/assets/icons/icons.svg#sprite-github"/>
      Whippet's lair
      </span>
    </a>
		<p>&copy; <a href="https://wilddogdesign.co.uk">Wild Dog Design</a></p>
	</div>
</footer>
