<footer role="contentinfo">
	<div class="o-wrapper">
    <a href="https://github.com/wilddogdesign/webpack-whippet">
      {# To include an svg sprite pop a file in the icons folder then reference like below with sprite-ICONNAME #}
      <svg><use xlink:href="/assets/icons/icons.svg#sprite-github"/></svg>
      Whippet's lair
    </a>
		<p>&copy; <a href="https://wilddogdesign.co.uk">Wild Dog Design</a></p>
	</div>
</footer>
