<header role="banner" id="top" class="c-header">
	<div class="o-wrapper">
    {# Please remember to replace home sweet home with the name of the site #}
		<a href="/" class="c-header__brand">Home Sweet Home</a>
	</div>
</header>
