<header role="banner" id="top" class="c-header">
	<div class="o-wrapper">
    {# Please remember to replace home sweet home with the name of the site #}
		<a href="/" class="c-header__brand">Home Sweet Home</a>

    <nav class="c-header__nav">
      <a href="#" class="c-header__nav__item">Something</a>
      <a href="#" class="c-header__nav__item">A thing</a>
      <a href="#" class="c-header__nav__item">Services</a>
      <a href="#" class="c-header__nav__item">About</a>
      <a href="#" class="c-header__nav__item">Contact</a>
    </nav>

    {# I've seen JS is in another branch so will leave off for now but do styles #}
    <button class="c-header__toggle u-hidden-from@tablet">
      <span class="c-header__toggle__lines"></span>
      <span class="u-accessibility">Menu</span>
    </button>
	</div>
</header>
