<head>
 	<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
 	<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0" />
  <meta name="description" content="">
  <meta name="author" content="">

  {% for p in pages %}
    {% if page == p.file %}
      <title>{{p.name}} | {{projectTitle}}</title>
    {% endif %}
  {% endfor %}

  <!-- inline_css_plugin -->

  <script src='https://www.google.com/recaptcha/api.js' async defer></script>

  {% set recaptcha_key = '6LcqPbgUAAAAADzSyygzDiduNftUvKuw5NMCla_a' %}

  {% if recaptcha_key %}
  <script>
    window.recaptchaKey = '{{ recaptcha_key }}'
  </script>
  {% endif %}
</head>
