<header role="banner" id="top" class="c-header">
	<div class="o-wrapper">
    {# Please remember to replace home sweet home with the name of the site #}
		<a href="/" class="c-header__brand">Home Sweet Home</a>

    <div class="c-header__main">
      <nav class="c-header__nav">
        <a href="/user-guide.html" class="c-header__nav__item">User Guide</a>
        <a href="/listing.html" class="c-header__nav__item">Listing</a>
        <a href="/default.html" class="c-header__nav__item">Default</a>
        <a href="/examples.html" class="c-header__nav__item">Examples</a>
        <a href="/nunjucks.html" class="c-header__nav__item">Nunjucks</a>
      </nav>
    </div>

    <button
      class="c-header__toggle u-hidden-from@tablet  js-class-trigger"
      data-target="body"
      data-class-to-trigger="is-visible--mobile-menu"
    >
      <span class="c-header__toggle__lines"></span>
      <span class="u-a11y">Menu</span>
    </button>
	</div>
</header>
