{% if isProduction %}
<script type="module">
	import { Workbox } from 'https://storage.googleapis.com/workbox-cdn/releases/6.1.1/workbox-window.prod.mjs';

	if ('serviceWorker' in navigator) {
		const wb = new Workbox('/service-worker.js');

		wb.addEventListener('waiting', function(event) {
			console.log('new sw waiting');

      function handleControllerEvent(event) {
        console.log('reloading..');
        window.location.reload();
      }

      // controlling works on chrome
      wb.addEventListener('controlling', handleControllerEvent);
      // controllerchange works on ios/safari
      wb.addEventListener('controllerchange', handleControllerEvent);

      wb.messageSW({ type: 'SKIP_WAITING' });
		});

		wb.register();
	}
</script>
{% endif %}
