button,
.o-btn,
[type='submit'],
[type='reset'] {
  display: inline-block;
  padding: .75em 1.5em;
  transition: background .15s ease-in;
  border: 0;
  border-radius: 0;
  background-color: $color--primary;
  color: $color--white;
  font-family: $font--main;
  font-size: rem(16px);
  line-height: 1;
  cursor: pointer;
  appearance: none;

  @include mq($from: desktop) {
    font-size: rem(18px);
  }

  &:hover,
  &:focus {
    background-color: $color--primary--light;
  }

  &[disabled] {
    border: rem(1px) solid $color--grey;
    background-color: $color--grey;
    cursor: not-allowed;
  }
}

.o-btn {
  &--secondary {
    border: rem(1px) solid $color--secondary;
    background-color: $color--secondary;
    color: $color--white;

    &:hover,
    &:focus,
    &--active {
      border: rem(1px) solid $color--secondary--light;
      background-color: $color--secondary--light;
    }
  }

  &--accent {
    border: rem(1px) solid $color--accent;
    background-color: $color--accent;
    color: $color--white;

    &:hover,
    &:focus,
    &--active {
      border: rem(1px) solid $color--accent--light;
      background-color: $color--accent--light;
    }
  }

  &--white {
    border: rem(1px) solid $color--black;
    background-color: $color--white;
    color: $color--black;

    &:hover,
    &:focus,
    &--active {
      border: rem(1px) solid $color--black--light;
      background-color: $color--white--light;
    }

    &[disabled] {
      color: $color--white;
    }
  }

  &--black {
    border: rem(1px) solid $color--black;
    background-color: $color--black;
    color: $color--white;

    &:hover,
    &:focus,
    &--active {
      border: rem(1px) solid $color--black--light;
      background-color: $color--black--light;
    }
  }
}
