// most of the time I would expect this to be removed and layout each component specifically in it's own way.
.o-layout {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 -#{$inuit-global-spacing-unit};
  padding: 0;

  &--vertical-align {
    align-items: center;
  }

  &--end-align {
    align-items: flex-end;
  }
}

.o-layout--small {
  margin-left: -$inuit-global-spacing-unit-small;

  > .o-layout__item {
    padding-left: $inuit-global-spacing-unit-small;
  }
}

.o-layout--stretch {
  display: flex;
  flex-wrap: wrap;

  > .o-layout__item {
    display: flex;
  }
}

.o-layout__item {
  width: 100%;
  padding-left: $inuit-global-spacing-unit;

  &--align-start {
    align-self: flex-start;
  }

  &--align-center {
    align-self: center;
  }

  &--align-end {
    align-self: flex-end;
  }
}

.o-layout--flush {
  margin-left: 0;

  > .o-layout__item {
    padding-left: 0;
  }

}
