.o-container {
  width: 100%;
  max-width: inuit-rem(1280px);
  margin: 0 auto;
  padding: 0 1rem;
}

.o-container--small {
  max-width: inuit-rem(1140px);
}

.o-container--tiny {
  max-width: inuit-rem(820px);
}
