
.icon-fallback-text .icon {
  display: none;
}
.fontface.generatedcontent .icon-fallback-text .icon {
  display: inline-block;
}
.fontface.generatedcontent .icon-fallback-text .text {
  /* a generic way to visually hide content while remaining accessible to screen readers (h5bp.com) */
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

%icon {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  font-size: 1em;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* font-size: 120%; */

  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  @extend %icon;
}

// Icons classes

@each $name, $icon in $icons {
  .icon-#{$name} {
    content: $icon;
  }
}
