
// Main colours
$white: 				      #fff;
$near-white: 			    darken($white,5%);
$white-70percent:     rgba(255,255,255,.7);
$white-90percent:     rgba(255,255,255,.9);

$black: 				      #111;
$near-black: 			    lighten($black,10%);
$black-10percent:     rgba(0, 0, 0, .1);
$black-30percent:     rgba(0, 0, 0, .3);
$black-70percent:     rgba(0, 0, 0, .7);

$gray: 					      darken($white,20%);

// Special colours
$burgundy:            rgba(135, 22, 43, 1);
$burgundy-30percent:  rgba(135, 22, 43, .3);
$burgundy-70percent:  rgba(135, 22, 43, .7);

// Alert colours
$alert-yellow:      	#ebe16f;
$alert-red:         	#fbe3e4;
$alert-green:       	#e6efc2;
$alert-blue:        	#d5edf8;

// Forms
$disabled-gray:			  #cecece;


// Icons

$icons: (
  menu-open:       "\e800",
  menu-close:      "\e801",
  search:          "\e802"
);


// Layout elements colour setup
$text-color:			 $black;


// Media queries sizes
$break-xs: 				 320px;
$break-mini: 			 500px;
$break-sm: 				 768px;
$break-md: 				 992px;
$break-lg: 				 1200px;